{% extends "workouts/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Dodaj Video</h1>

<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Dodaj Video
            </legend>

            {{ form|crispy }}

        </fieldset>
        <div class="form-group justify-content-center">
            <button class="btn btn-outline-info" type="submit">Dodaj Video!</button>
        </div>
    </form>
    
</div>

{% endblock content %}  