{% extends "workouts/base.html" %}

{% block content %}

<h1>Workout detail</h1>


<article class="media content-section d-flex">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="author image">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        <p class="text-muted">{{ object.category }}</p>
        <h2 class="article-title" href="#">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>

{% endblock content %}