{% extends "workouts/base.html" %}

{% block content %}

<h1>Workout detail</h1>


<article class="media content-section d-flex">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="author image">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-trainings' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
            <small class="text-muted">{{ object.id }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm my-1" href="{% url 'training-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm my-1" href="{% url 'training-delete' object.id %}">Delete</a>

                <a class="btn btn-danger btn-sm my-1" href="{% url 'add_image' training.pk %}">Add Image</a>
            </div>
            {% endif %}
        </div>
        <p class="text-muted">{{ object.category }}</p>
        <h2 class="article-title" href="#">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>

<div>
    <h3>Comments</h3>
    <hr>
    {% if not training.comments.all %}
        <p>No comment yet.</p>
        <a href="{% url 'add_comment' training.pk %}">Add first comment</a>
        
        {% else %}
        {% for comment in training.comments.all %}
            <strong>{{ comment.name }} - {{ comment.date_added }}</strong>
            </br>
            <p>{{ comment.comment_text }}</p>
            <hr>
        {% endfor %}
        {% if user.is_authenticated %}
            <a href="{% url 'add_comment' training.pk %}">Add comment</a>
        {% endif %}
    {% endif %}
</div>

{% endblock content %}